<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #page-static-resources},
                                                ~{:: #page-nav},
                                                ~{:: #page-main-content},
                                               )}">

<head>
    <title>Websocket : Messages..</title>
</head>
<body>
<div id="page-nav" th:replace="~{/fragments/app-fragments :: nav-admin}"></div>
<div id="page-main-content">
    <h2>Chat</h2>

    <span id="url" style="display:none;">[['ws://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/ws}]]</span>
    <div class="row">
        <ul id="logins"></ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <div class="input-group">
                    <input type="text" id="from" class="form-control" placeholder="nickname.."/>
                    <div class="btn-group">
                        <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" onclick="connect()">Connect</button>
                        <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" onclick="disconnect()" disabled>Disconnect</button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group" id="sendmessage" style="display: none;">
                    <input type="text" id="message" class="form-control" placeholder="Message">
                    <div class="input-group-append">
                        <button id="send" class="btn btn-primary" onclick="sendMessage()">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="log-content"></div>
            <div>
                <span class="float-right">
                    <button id="clear" class="btn btn-primary" onclick="clearBroadcast()" style="display: none;">Clear</button>
                </span>
            </div>
        </div>
    </div>
</div>


<th:block id="page-static-resources">

    <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.js}" type="text/javascript"></script>
    <script>
        const url = $('#url').html();
        console.log(url);

        var disconnectMe=false;

        let stompClient = null;
        let userName , text;

        function setConnected(connected) {

            $("#from").prop("disabled", connected);
            $("#connect").prop("disabled", connected);
            $("#disconnect").prop("disabled", !connected);

            if (connected) {
                $("#sendmessage").show();
            } else {
                $("#sendmessage").hide();
            }
        }


        function connect() {
            userName = $("#from").val();
            if (userName == null || userName === "") {
                $("#from").css("background-color", "red").css("color","white");
                $("#from").focus();
                return;
            }
            $("#from").css("background-color", "white").css("color","black");

            stompClient = Stomp.client(url);
            stompClient.connect({}, onConnected, onError);

            disconnectMe = false;
        }
        function onConnected() {
            setConnected(true);

            stompClient.subscribe('/topic/publicChat', onMessageReceived);
            stompClient.subscribe('/topic/publicChatUsers', onActiveUsersReceived);

            stompClient.send("/app/chat.addUser",  {}, JSON.stringify({'from':  userName, 'type': 'JOIN'}));
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify({from: 'server', text: userName+' joined us!', type: 'CHAT'}));
        }

        function onActiveUsersReceived(payload) {
            var activeUsers = JSON.parse(payload.body);
            console.log('onActiveUsersReceived : '+activeUsers);

            var list = $('#logins');
            $(list).empty();
            $(activeUsers).each(function(i, userName){
                var li = $('<li/>')
                    .attr('id', 'user-'+i)
                    .appendTo(list);
                $('<span/>')
                    .addClass('alert alert-info')
                    .text(userName)
                    .appendTo(li);
            });

            if(disconnectMe){
                stompClient.disconnect(function(frame) {
                    console.log("STOMP Client disconnecting ...");
                    console.log("STOMP client succesfully disconnected.");
                });
            }
        }
        function onMessageReceived(payload) {
            var message = JSON.parse(payload.body);

            console.log('********************************');
            console.log('onMessageReceived : '+message.type+' => '+message.from);
            console.log('********************************');

            var sender = message.from;
            var content = message.text;

            if (message.type === 'LEAVE') {
                $('#'+sender).remove();
                sender = 'server';
                content = message.text +' leaved!';

                stompClient.send("/app/chat.removeUser",  {}, JSON.stringify({'from':  userName, 'type': 'LEAVE'}));
                disconnectMe=true;
            }

            showBroadcastMessage(createTextNode({'from': sender, 'text': content, 'time': now(), 'type' : message.type}));
        }

        function disconnect() {
            if (stompClient != null) {
                setConnected(false);
                stompClient.send("/app/chat.sendMessage", {}, JSON.stringify({from: 'server', text: userName, type: 'LEAVE'}));
            }
        }

        function onError() {
            alert('error' + err);
            console.log('error on disconnect...'+err);
        }

        function sendMessage() {
            text = $("#message").val().trim();
            if(text=='')
                return;

            if(stompClient) {
                chatMessage = {
                    from: userName,
                    text: text,
                    type: 'CHAT'
                };

                stompClient.send("/app/chat.sendMessage", {}, JSON.stringify(chatMessage));
                $("#message").val('');
            }
        }
        function createTextNode(messageObj) {
            return '<div class="row alert alert-info"><div class="col-md-8 col-sm-8"><span class="title">' +
                messageObj.from +'</span></small><br/> '+ messageObj.text +'</div><div class="col-md-4 col-sm-4 text-right"><small>'+ messageObj.time + '</small></div></div>';
        }
        function showBroadcastMessage(message) {
            $("#log-content").html(message + $("#log-content").html());
            $("#clear").show();
        }
        function clearBroadcast() {
            $("#log-content").html("");
            $("#clear").hide();
        }
        function now() {
            var dt = new Date();
            return dt.getHours() + ":" + dt.getMinutes();// + ":" + dt.getSeconds();
        }
    </script>

</th:block>
</body>
</html>